.body {
  margin-top: 0.8rem;
}


  //309px os posts são esmagados
  //355px os botões quebram
  //575px encerar sessão cresce
  //767px minhas publicações descem
  //991px muita coisa muda
  //1199px
  //1443px

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.themeLabel {
  font-size: large;
  font-weight: bold;
}