.body {
  margin-top: 8px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.themeLabel {
  color: #e8e6e3;

  font-size: large;
  font-weight: bold;

  gap: 8px;

  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
