.container {
  width: 100%;

  text-decoration:none;

  display: flex;
  justify-items: center;
  align-items: center;
}

.button {
  min-height: 4vh;
  height: auto;
  min-width: 95%;
  width: 95%;

  margin: 3px 0 0 0;

  cursor: pointer;
}