.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 4;

  height: 100%;
  width: 100%;

  background-color: #202324;

  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
}

.title {
  height: 3rem;
}

.buttons {
  width: 90%;
  padding: 8px 4px;
}

.spacer {
  height: 2.5%;
}
