* {
  color: #e8e6e3;
}

.main {
  padding: 10px;

  gap: 16px;

  display: flex;
  flex-direction: column;
}

.header {
  height: auto;
  padding: 20px;
}

.feed_info {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  .left {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    .texts {
      height: max-content;
      margin: 12px 12px 0 0;

      gap: 12px;

      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;

      .title {
        font-weight: bolder;
      }

      .author {
        font-weight: 600;
      }

      .description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        line-clamp: 5;
        -webkit-box-orient: vertical;
      }
    }

    .actions {
      padding-left: 8px;

      gap: 16px;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }

  .image {
    height: 252px;
    width: 252px;

    background-color: #202324;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      height: 252px;
      width: 252px;

      border-radius: 4px;
    }
  }
}

.search_bar {
  padding: 8px;

  gap: 8px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .search_input {
    width: 100%;
  }
}

.ep_card {
  height: 100%;
  padding: 8px;

  gap: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  img {
    height: 90px;
    width: 90px;
    object-fit: cover;

    border-radius: 4px;
  }

  .card_text {
    height: 90px;
    width: 70%;

    font-weight: 600;
    font-size: smaller;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;

    .main_info {
      margin-bottom: 8px;

      gap: 4px;

      display: flex;
      flex-direction: row;

      h3 {
        font-size: small;
        font-weight: bolder;
      }
    }
  }

  .button {
    height: 90px;
    width: 20%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
