.card {
  height: 200px;
  width: 140px;

  color: #e8e6e3;

  margin: 10px;
  gap: 4px;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60% 40%;

  border-radius: 8px;

  &:hover {
    cursor: pointer;
  }
}

.cardMissing {
  @extend .card;

  p {
    padding: 4px;
    gap: 10px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-weight: 700;
  font-size: 12px;

  .icon {
    padding: 5px;
    margin-top: 15px;
    box-shadow: 0.7px 1px #000000;
    border-radius: 12px;

    &:hover {
      cursor: pointer;
    }

    &:active {
      box-shadow: 1px 0.7px inset #000000;
    }
  }
}

.image {
  grid-row: 1;

  height: 120px;

  margin: 10px;

  border-radius: 4px;
}

.labels {
  margin: 0px 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    max-width: 130px;

    font-size: small;
    font-weight: bold;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__author {
    max-width: 130px;
    margin-top: 5px;

    font-size: small;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
