.icon-wrapper {
  svg {
    pointer-events: none;
  }

  &-clickable {
    cursor: pointer;
  }
}

.icon-small {
  height: 16px;
  width: 16px;
  svg {
    height: 100%;
    width: 100%;
  }
}

.icon-medium {
  height: 24px;
  width: 24px;
  svg {
    height: 100%;
    width: 100%;
  }
}
