.container {
  width: 100%;

  text-decoration: none;

  display: flex;
  justify-content: center;
}

.button {
  min-height: 4vh;
  height: auto;
  min-width: 95%;
  width: 95%;

  color: #f0f0f0;
  background-color: transparent;

  margin: 3px 0 0 0;

  cursor: pointer;

  border: none;
  border-radius: 10px;

  font-size: 0.9rem;
  font-weight: bold;

  display:flex;
  justify-content: space-between;

  &:hover {
    font-size: 1rem;

    color:#cfcfcf;
    // text-decoration: underline;
  }
}